<% content_for :title, "Forgot Password" %>
<h2>Forgot Password</h2><br />
<%= form_tag('/send_password') %>
  <%= label_tag 'Enter your email address: ' %>
  <%= text_field_tag :email %><br /><br />
  <%= submit_tag "Reset Password" %>