<h1>Editing user</h1>
<% if current_user.id == @user.id || current_user.role == 4 || current_user.role == 8 %>
  <%= render 'form' %>
<% else %>
  This is not your profile page<br />
<% end %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', "/search" %>
